# Python : introduction. Pratique et exercices

**NOTES**.

 - Il existe de nombreuses façons de résoudre chaque problème, trouvez la vôtre.

 - Créez les cellules supplémentaires dont vous avez besoin.

 - N'oubliez pas qu'une cellule peut être une cellule Code ou une cellule Markdown. Utilisez ce dernier pour rédiger du texte et des explications si vous en avez besoin.

 - Essayez de créer des variables lors de la résolution des exercices.

 - Vous pouvez compter sur l'internet : tous les programmeurs le font tous les jours.

Quel est le plus grand nombre, $10^9$ ou $9^{10}$.

In [2]:
10 ** 9

1000000000

In [3]:
9 ** 10

3486784401

In [5]:
10 ** 9 < 9 ** 10

True

$9^{10}$ est plus grand

J'ai 500 euros à la banque. Je le laisse pendant 3 ans à un taux d'intérêt composé de 2 %. Combien d'argent vais-je avoir au final ?

In [7]:
500 * 1.02 ** 3

530.604

Je vais créér une fonction pour pouvoir l'utiliser de maniére general

In [25]:
def sousou(bank, interet, annee):
    """
    Compute how much money we have in the bank with a given interest
    Args:
        bank (float): initial money
        interet (float): % of interest. 5 means 5%
        annee (int): how many years
    Returns:
        float: final money
    """
    for an in range(annee):
        montantdinteret = bank * interet / 100
        bank = bank + montantdinteret
        
    print(f"vous avez après {annee} années d'interets: {round(bank, 1)} euros sur votre compte en banque")

In [24]:
sousou(500, 2, 3)

vous avez après 3 années d'interets: 530.6 euros sur votre compte en banque

In [26]:
sousou(500, 2, 10)

vous avez après 10 années d'interets: 609.5 euros sur votre compte en banque

In [28]:
sousou(1000, 20, 2)

vous avez après 2 années d'interets: 1440.0 euros sur votre compte en banque

Évaluez les expressions suivantes dans votre tête. Ensuite, courez pour connaître le résultat.

In [29]:
3 > 2

True

In [30]:
len("pepe") < 6

True

In [31]:
2 ** 10 == 3 ** 6

False

In [33]:
(3 > 2) and (len("pepe") > 6)

False

In [34]:
(3 > 2) or (len("pepe") < 6)

True

In [35]:
True or False

True

In [36]:
True and False

False

In [37]:
not(True and True)

False

In [38]:
not(False and True)

True

In [39]:
False and False

False

Créez une variable avec votre nom et une autre avec votre ville. Maintenant, résolvez le problème de manière programmatique :

 - Quel est le mot le plus long ?

 - Vérifiez si l'un d'entre eux contient la lettre "m" en majuscule ou en minuscule.

 - Est-ce qu'ils correspondent à la dernière lettre ?

 - Créez un nouveau nom en supprimant la deuxième lettre de votre nom.

In [56]:
name = "Achille"
city = "Madrid"

In [57]:
if len(name) > len(city):
    print(name)
else:
    print(city)

Achille

In [58]:
"m" in name or "M" in name

False

In [59]:
"m" in city or "M" in city

True

In [60]:
name[-1] == city[-1]

False

In [61]:
name[0] + name[2:]

'Ahille'

Créez une liste de 10 entiers

 - Lequel est le plus grand ?

 - Certains d'entre eux sont-ils répétés ? Essayez d'utiliser la fonction `set` et examinez-la.

 - Ajoutez le nombre 100 à la liste.

 - Triez-les du plus haut au plus bas.

 - Le numéro 5 est dans la liste ?

 - Quelle est la somme de tous ces nombres ? Ajoutez un nombre à la liste de façon à ce que leur somme soit égale à 5000.

 - Imprimez ceux qui sont des multiples de 3.

In [62]:
nums = [4, 8, 22, 45, -3, -12, 33, 8, 90, -50]

In [63]:
max(nums)

90

In [66]:
len(nums)

10

In [67]:
set(nums)

{-50, -12, -3, 4, 8, 22, 33, 45, 90}

In [65]:
len(set(nums))

9

In [68]:
nums.append(100)

In [71]:
nums.sort(reverse=True)

In [72]:
nums

[100, 90, 45, 33, 22, 8, 8, 4, -3, -12, -50]

In [73]:
5 in nums

False

In [74]:
45 in nums

True

In [75]:
sum(nums)

245

In [76]:
5000 - 245

4755

In [77]:
nums.append(4755)

In [78]:
nums

[100, 90, 45, 33, 22, 8, 8, 4, -3, -12, -50, 4755]

In [79]:
sum(nums)

5000

`a % b` nous donne le reste de la division

In [85]:
7 % 2

1

In [86]:
5 % 3

2

In [87]:
for n in nums:
    if n % 3 == 0:
        print(n)

90
45
33
-3
-12
4755

Étant donné les informations suivantes sur un utilisateur, trouvez par programmation :

 - Leur âge en 2050.

 - La ville dans laquelle il vit, écrite en lettres capitales.

 - Si votre code postal est signalé, c'est-à-dire si la clé `postal_code` existe.

 - Si vous vous trouvez dans une piscine de 170 cm.

 - Le nombre d'amis que vous avez.

 - Si son métier est "coiffeur".

In [ ]:
user = {
    "age": 33,
    "name": "Manuel",
    "city": "Madrid",
    "height": 1.84,
    "has_children": False,
    "friends": ["Juan", "Luis"],
    "ocupacion": {
        "name": "profe",
        "tiempo": 3,
        "salario": 100
    }
}

Imprime tous les nombres entre 3 et 15

In [88]:
for i in range(3, 16):
    print(i)

3
4
5
6
7
8
9
10
11
12
13
14
15

Étant donné cette liste de mots :

 - Imprimer ceux qui ont moins de 5 caractères

 - Imprimez ceux qui contiennent la lettre "a".

 - Imprime ceux qui ont plus d'une voyelle

In [89]:
words = ["mesa", "rublos", "armario", "tres", "pelele"]

In [90]:
for w in words:
    if len(w) < 5:
        print(w)

mesa
tres

In [91]:
for w in words:
    if "a" in w:
        print(w)

mesa
armario

In [92]:
def count_vowels(word):
    n_vowels = 0
    
    for letter in word:
        if letter in "aeiou":
            n_vowels += 1
    
    return n_vowels

In [98]:
count_vowels("paris")

2

In [99]:
count_vowels("aeioua")

6

In [97]:
for w in words:
    vowels = count_vowels(w)
    
    if vowels > 1:
        print(w)

mesa
rublos
armario
pelele

Écrivez une fonction qui, étant donné une liste de nombres, renvoie une liste de nombres supérieurs à 10.

Imaginez que vous construisiez un robot de triage des œufs par taille. Le bras doit, en fonction du poids, placer l'œuf dans une boîte ou une autre comme suit :  

**Boîte S** (petite) : poids inférieur à 53 grammes.   

**Boîte M** (medium) : poids supérieur ou égal à 53 grammes et inférieur à 63 grammes.   

**Boîte L** (large) : poids supérieur ou égal à 63 grammes et inférieur à 73 grammes.   

**Box XL** (super large) : poids supérieur ou égal à 73 grammes.



Ecrivez une logique qui imprime la boîte dans laquelle l'oeuf va aller, en utilisant `if-elif-else`.

Écrivez un programme qui lance un dé jusqu'à ce qu'il obtienne un 6. Conseil : utilisez `while` et la bibliothèque `random`.

In [100]:
import random

In [138]:
while True:
    die = random.randint(1, 6)
    print(die)
    
    if die == 6:
        break

4
1
4
2
4
2
3
1
1
4
1
3
2
1
5
6

Créez une fonction qui, étant donné une phrase, renvoie la même phrase criée : en majuscules et en ajoutant " !!!" à la fin.

In [139]:
def shout(phrase):
    phrase_mayus = phrase.upper()
    phrase_shout = phrase_mayus + "!!!"
    
    return phrase_shout

In [140]:
shout("vive le Maroq")

'VIVE LE MAROQ!!!'

In [141]:
shout("allez les bleus")

'ALLEZ LES BLEUS!!!'

In [142]:
shout("je trouve pas mes cles")

'JE TROUVE PAS MES CLES!!!'

Créer une fonction qui décide si un nombre est [premier](https://es.wikipedia.org/wiki/N%C3%BAmero_primo)

Écrivez une fonction qui, étant donné deux mots, renvoie le plus long des deux.

Écrivez une fonction qui, étant donné 3 nombres, renvoie la différence maximale entre deux d'entre eux.

In [149]:
def get_max_diff(a, b, c):
    M = max(a, b, c)
    m = min(a, b, c)
    
    return M - m

In [150]:
get_max_diff(14, 6, 23)

17

In [151]:
get_max_diff(10, 100, 1000)

990

In [155]:
def get_max_diff_arbitraire(liste_nombres):
    M = max(liste_nombres)
    m = min(liste_nombres)
    
    print(f"le max es {M} et le min est {m}")
    
    return M - m

In [156]:
get_max_diff_arbitraire([10, 20, 35, 22, 3, 65, 43])

le max es 65 et le min est 3

62